{{!-- Navigation --}}
<footer class="footer">
  <div class="footer__main">
    <div class="container">
      {{!-- Navigation --}}
      {{#if @blog.navigation}}
        {{navigation}}
      {{/if}}

      {{> social-navigation}}
    </div>
    <div class="container">
     {{#if @labs.subscribers}}
        {{subscribe_form
          form_class="subscribe-form"
          input_class="input is-large"
          button_class="button is-primary"
          placeholder="Enter your email"
        }}
      {{/if}}
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <div class="footer__copyright">
        <a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}
      </div>

      <nav class="navigation" role="navigation">
        <ul class="navigation__menu" role="menu">
          <li class="navigation__item" role="presentation">
            <a class="navigation__link" href="{{@blog.url}}privacy-policy">Privacy Policy</a>
          </li>
          <li class="navigation__item" role="presentation">
            <a class="navigation__link" href="{{@blog.url}}terms-of-use">Terms of Use</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>