<nav class="navigation" role="navigation">
  <div class="navigation__menu" role="menu">
    {{#foreach navigation}}
      <a
        class="navigation__item navigation__item--{{slug}}{{#if current}} navigation__item-active{{/if}}"
        role="menuitem"
        href="{{url absolute="true"}}"
      >
        {{label}}
      </a>
    {{/foreach}}
  </div>
  <div class="navigation__menu" role="menu">
    {{#if @site.facebook}}
      <a
        class="navigation__item navigation__item--{{slug}}{{#if current}} navigation__item-active{{/if}}"
        role="menuitem"
        href="{{facebook_url @site.facebook}}"
      >
        Facebook
      </a>
    {{/if}}
    {{#if @site.twitter}}
      <a
        class="navigation__item navigation__item--{{slug}}{{#if current}} navigation__item-active{{/if}}"
        role="menuitem"
        href="{{twitter_url @site.twitter}}"
      >
        Twitter
      </a>
    {{/if}}
  </div>
</nav>
