<nav class="navigation" role="navigation">
  <button
    class="fab fab--large fab--primary"
    id="navigation__toggle"
  >
    {{#if @blog.logo}}
      <img
        alt="{{@blog.title}}"
        class="logo"
        src="{{@blog.logo}}"
      />
    {{else}}
      {{!-- TODO, create SVG menu icon --}}
      <span></span>
      <span></span>
      <span></span>
    {{/if}}
  </button>

  <ul class="navigation__menu" role="menu">
    {{#foreach navigation}}
      <li
        class="navigation__item navigation__item--{{slug}}{{#if current}} navigation__item--active{{/if}}"
        role="presentation"
      >
        <a
          class="fab fab--primary"
          href="{{url absolute="true"}}"
        >
          <span class="navigation__label">{{label}}</span>
        </a>
      </li>
    {{/foreach}}
  </ul>
</nav>