<nav class="navigation" role="navigation">
  <button
    class="fab fab--large fab--primary tooltip"
    id="navigation__toggle"
    data-tooltip="Menu"
    data-tooltip-direction="e"
  >
    {{#if @blog.logo}}
      <img
        alt="{{@blog.title}}"
        class="logo"
        src="{{@blog.logo}}"
      />
    {{else}}
      {{!-- TODO, create SVG menu icon --}}
      <span></span>
      <span></span>
      <span></span>
    {{/if}}
  </button>

  <ul class="navigation__menu" role="menu">
    {{#foreach navigation}}
      <li
        class="navigation__item navigation__item--{{slug}}{{#if current}} navigation__item--active{{/if}}"
        role="presentation"
      >
        <a
          class="fab fab--primary tooltip"
          data-tooltip="{{label}}"
          data-tooltip-direction="e"
          href="{{url absolute="true"}}"
        >
          <span class="icon icon--{{slug}}"></span>
        </a>
      </li>
    {{/foreach}}
  </ul>
</nav>