{{!< layouts/default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- Main Content --}}
<main
  class="content"
  id="content"
  role="main"
  {{#if @blog.cover}}
    style="background: url({{@blog.cover_image}}) center no-repeat fixed; background-size: cover;"
  {{/if}}
>
  <div class="site-info">
    <h1 class="site-info__title">{{@blog.title}}</h1>
    <p class="site-info__description">{{@blog.description}}</p>
  </div>
</main>

{{!-- Sidebar --}}
<aside
  class="sidebar"
  id="sidebar"
  role="contentinfo"
  {{#if @labs.subscribers}}
    style="padding: 0 0 136px;"
  {{/if}}
>

  {{!-- Sidebar Content --}}
  <div
    class="sidebar__content"
    style="{{#if @labs.subscribers}}60px 60px 0{{else}}60px 60px 20{{/if}}"
  >
    {{#if @labs.publicAPI}}
      <div class="widget">
        <div class="tabs">
          <nav class="tabs__list">
            <a class="tabs__item tabs__item--active" data-tab="1" href="#discover">Discover</a>
            <a class="tabs__item" data-tab="2" href="#stories">Stories</a>
            <a class="tabs__item" data-tab="3" href="#learn">Learn</a>
          </nav>
          <div class="tabs__content">
            <div class="tabs__panel tabs__panel--active" data-tab="1">
              {{#get "posts" limit="3" order="published_at desc"}}
                {{#foreach posts}}
                <article>
                  <header>
                    <h6>
                      <a href="{{url}}">{{title}}</a>
                    </h6>
                    <span>{{date format="MMMM DD, YYYY"}}</span>
                  </header>
                  <section>
                    <p>{{excerpt characters="110"}}</p>
                  </section>
                </article>
                {{/foreach}}
              {{/get}}
            </div>
            <div class="tabs__panel" data-tab="2">
              {{#get "posts" filter="tags:[case-study,case-studies,story,stories]" limit="3" order="published_at desc"}}
                {{#foreach posts}}
                <article>
                  <header>
                    <h6>
                      <a href="{{url}}">{{title}}</a>
                    </h6>
                    <span>{{date format="MMMM DD, YYYY"}}</span>
                  </header>
                  <section>
                    <p>{{excerpt characters="110"}}</p>
                  </section>
                </article>
                {{/foreach}}
              {{/get}}
            </div>
            <div class="tabs__panel" data-tab="3">
              {{#get "posts" filter="tags:[tutorial,learn]" limit="3" order="published_at desc"}}
                {{#foreach posts}}
                <article>
                  <header>
                    <h6>
                      <a href="{{url}}">{{title}}</a>
                    </h6>
                    <span>{{date format="MMMM DD, YYYY"}}</span>
                  </header>
                  <section>
                    <p>{{excerpt characters="110"}}</p>
                  </section>
                </article>
                {{/foreach}}
              {{/get}}
            </div>
          </div>
        </div>
      </div>

      <div class="widget widget--tags">
        <div class="widget__title">Topics</div>
        <div class="widget__content">
          {{#get "tags" limit="15" include="count.posts"}}
            {{#foreach tags}}
              <a class="button" href="{{url}}">{{name}}</a>
            {{/foreach}}
          {{/get}}
        </div>
      </div>
    {{else}}
      <div class="widget">
        <div class="widget__title">Recent</div>
        <div class="widget__content">
          {{#foreach posts}}
            <article>
              <header>
                <h6>
                  <a href="{{url}}">{{title}}</a>
                </h6>
                <span>{{date format="MMMM DD, YYYY"}}</span>
              </header>
              <section>
                <p>{{excerpt characters="110"}}</p>
              </section>
            </article>
          {{/foreach}}
        </div>
      </div>
    {{/if}}
  </div>

  {{#if @labs.subscribers}}
    {{!-- Sidebar Footer --}}
    <div class="sidebar__footer">
      {{subscribe_form label="Subscribe to Newsletter" placeholder="Your email address"}}
    </div>
  {{/if}}
</aside>
