{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- Main Content --}}
<main
  class="content"
  id="content"
  role="main"
  {{#if @blog.cover}}
    style="background: url({{@blog.cover}}) right bottom no-repeat fixed; background-size: cover;"
  {{/if}}
>
  <div class="site-info">
    <h1 class="site-info__title">{{@blog.title}}</h1>
    <p class="site-info__description">{{@blog.description}}</p>
    {{!-- TODO, add in social menu --}}
    {{!-- {{> social-menu}} --}}
  </div>
</main>

{{!-- Sidebar --}}
<aside
  class="sidebar"
  id="sidebar"
  role="contentinfo"
>

  {{!-- Sidebar Content --}}
  <div class="sidebar__content">
    <div class="widget">
      <div class="tabs">
        <nav class="tabs__list">
          <a class="tabs__item tabs__item--active" data-tab="1" href="#discover">Discover</a>
          <a class="tabs__item" data-tab="2" href="#stories">Stories</a>
          <a class="tabs__item" data-tab="3" href="#learn">Learn</a>
        </nav>
        <div class="tabs__content">
          <div class="tabs__panel tabs__panel--active" data-tab="1">
            {{#get "posts" limit="3" order="published_at asc"}}
              {{#foreach posts}}
              <article>
                <header>
                  <h6>
                    <a href="{{url}}">{{title}}</a>
                  </h6>
                  <span>{{date format="MMMM DD, YYYY"}}</span>
                </header>
                <section>
                  <p>{{excerpt characters="110"}}</p>
                </section>
              </article>
              {{/foreach}}
            {{/get}}
          </div>
          <div class="tabs__panel" data-tab="2">
            {{#get "posts" filter="tags:[case-studies,stories]" limit="3" order="published_at asc"}}
              {{#foreach posts}}
              <article>
                <header>
                  <h6>
                    <a href="{{url}}">{{title}}</a>
                  </h6>
                  <span>{{date format="MMMM DD, YYYY"}}</span>
                </header>
                <section>
                  <p>{{excerpt characters="110"}}</p>
                </section>
              </article>
              {{/foreach}}
            {{/get}}
          </div>
          <div class="tabs__panel" data-tab="3">
            {{#get "posts" filter="tags:[tutorial,learn]" limit="3" order="published_at asc"}}
              {{#foreach posts}}
              <article>
                <header>
                  <h6>
                    <a href="{{url}}">{{title}}</a>
                  </h6>
                  <span>{{date format="MMMM DD, YYYY"}}</span>
                </header>
                <section>
                  <p>{{excerpt characters="110"}}</p>
                </section>
              </article>
              {{/foreach}}
            {{/get}}
          </div>
        </div>
      </div>
    </div>

    {{#if @labs.publicAPI}}
      <div class="widget widget--tags">
        <div class="widget__title">Topics</div>
        <div class="widget__content">
          {{#get "tags" limit="all" include="count.posts"}}
            {{#foreach tags}}
              <a class="button" href="{{url}}">{{name}}</a>
            {{/foreach}}
          {{/get}}
        </div>
      </div>
    {{/if}}
  </div>

  {{#if @labs.subscribers}}
    {{!-- Sidebar Footer --}}
    <div class="sidebar__footer">
      {{> subscribe}}
    </div>
  {{/if}}
</aside>