{{!< default}}

<main
  class="content"
  id="content"
  role="main"
  {{#if @blog.cover}}
    style="background: url({{@blog.cover_image}}) center no-repeat fixed; background-size: cover;"
  {{/if}}
>
  <div class="page__container">
    <header class="page__header">
      <h1 class="page__title">Projects</h1>
    </header>

    <div class="project-grid">
      {{#if @labs.publicAPI}}
        {{#get "posts" filter="tags:[case-study,case-studies,project,projects]" include="tags" limit="9" order="published_at desc" }}
          {{#foreach posts}}
            <div class="project">
              <header class="project__header">
                <h5 class="project__title">
                  <a href="{{url}}">{{title}}</a>
                </h5>
                <h6 class="project__sub-title">
                  {{tags separator=", "}}
                </h6>
              </header>
              <div class="project__content">
                <p class="project__excerpt">{{excerpt characters="125"}}</p>
                <a class="button" href="{{url}}"><span>Read More</span> <span class="icon ion-arrow-right-c" style="font-size: 0.625rem;"></span></a>
              </div>
            </div>
          {{/foreach}}
        {{/get}}

        {{!-- <div class="loading"></div> --}}
      {{else}}
        <p>You need to enable the <a href="{{@blog.url}}/ghost/settings/labs/">Public API</a> feature in your dashboard to use this feature.</p>
      {{/if}}
    </div>
    {{> site-footer}}
  </div>
</main>

{{> powered-by}}

<script type="text/javascript">
  window.page = {
    type: 'project',
    filter: 'tags:[case-study,case-studies,project,projects]',
    limit: 9,
    order: "published_at desc",
  };
</script>
