{{!< default}}

<main
  class="content"
  id="content"
  role="main"
  {{#if @blog.cover}}
    style="background: url({{@blog.cover}}) center no-repeat fixed; background-size: cover;"
  {{/if}}
>
  <div class="page__container">
    <header class="page__header">
      <h1 class="page__title">Blog</h1>
    </header>

    <div class="blog-grid">
      {{#if @labs.publicAPI}}
        {{#get "posts" include="tags" limit="4" order="published_at desc" }}
          {{#foreach posts}}
            <article class="article">
              <header class="article__header">
                <time class="article__date" datetime="{{date published_at format="MMMM DD, YYYY"}}">{{date published_at format="MMMM DD, YYYY"}}</time>
                <span style="margin: 0 5px; vertical-align: middle;"> · </span>
                <div class="article__tags">{{tags separator=", "}}</div>
                <h2 class="article__title">
                  <a href="{{url}}">{{title}}</a>
                </h2>
              </header>
              <section class="article__content">{{excerpt characters="500"}}</section>
              <footer class="article__footer">
                <div class="button-group">
                  <a class="button button--primary" href="{{url}}">View Post</a>
                  <button class="button"><span class="ion ion-android-bookmark"></span></button>
                </div>
              </footer>
            </article>
          {{/foreach}}
        {{/get}}

        {{!-- <div class="loading"></div> --}}
      {{else}}
        <p>You need to enable the <a href="{{@blog.url}}/ghost/settings/labs/">Public API</a> feature in your dashboard to use this feature.</p>
      {{/if}}
    </div>

    {{> site-footer}}
  </div>
</main>

{{> powered-by}}

<script type="text/javascript">
  window.page = {
    filter: '',
    limit: 4,
    order: 'published_at desc',
    type: 'post',
  };
</script>
