{{!< layouts/post}}
{{!-- The tag above means - insert everything in this file into the {body} of the layout/default.hbs template --}}

{{!-- Post Content --}}
{{#post}}
  <main
    class="content"
    id="content"
    role="main"
  >
    <article
      class="post {{#if feature_image}}has-thumbnail{{/if}}"
      id="{{id}}-{{slug}}"
    >
      <header
        class="post__header"
        {{#if feature_image}}
          style="background-image: url('{{feature_image}}');"
        {{/if}}
      >
        <button class="button is-large is-outline is-round" id="bookmarkMenuSave">
          <span class="ion ion-bookmark"></span>
        </button>

        {{#if featured}}
          <div class="post__label">Featured</div>
        {{else}}
          {{#has tag="#blog"}}
              <div class="post__label">Blog</div>
          {{/has}}

          {{#has tag="#case-study"}}
              <div class="post__label">Case Study</div>
          {{/has}}

          {{#has tag="#freebie"}}
              <div class="post__label">Freebie</div>
          {{/has}}

          {{#has tag="#tutorial"}}
              <div class="post__label">Tutorial</div>
          {{/has}}
        {{/if}}

        <h1 class="post__title">{{title}}</h1>

        {{!-- TODO, @ghost needs to add sub-title support --}}
        {{!-- <h2 class="post__sub-title">{{sub-title}}</h2> --}}
        <time
          class="post__date"
          datetime="{{date format="YYYY-MM-DD"}}"
        >
          {{date format="MMMM, DD YYYY"}}
        </time>
      </header>

      <section class="post__content">
        {{content}}
      </section>

      <section class="post__author">
        {{#author}}
          <div class="author">
            <div class="author__image">
              <img alt="{{name}}" src="{{profile_image}}" />
            </div>
            <div class="author__content">
              <h4 class="author__name">{{name}}</h4>
              <div class="author__bio">{{bio}}</div>

              <nav class="navigation" role="navigation">
                <ul class="navigation__menu" role="menu">
                  <li class="navigation__item" role="presentation">
                    <span class="ion ion-location"></span>
                    <span>{{location}}</span>
                  </li>

                  <li class="navigation__item" role="presentation">
                    <a class="navigation__link" href="{{website}}">
                      <span class="ion ion-link"></span>
                      <span>{{website}}</span>
                    </a>
                  </li>

                  <li class="navigation__item" role="presentation">
                    <a class="navigation__link" href="{{facebook}}">
                      <span class="ion ion-social-facebook"></span>
                    </a>
                  </li>

                  <li class="navigation__item" role="presentation">
                    <a class="navigation__link" href="{{twitter}}">
                      <span class="ion ion-social-twitter"></span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        {{/author}}
      </section>

      <footer class="post__footer">
        <div class="tags">
          {{#if tags}}
            {{#foreach tags}}
              <a class="button is-outline is-small" href="{{url}}">{{name}}</a>
            {{/foreach}}
          {{/if}}
        </div>
      </footer>
    </article>
  </main>

  <script type="text/javascript">
    window.post = {
      id: '{{id}}',
      excerpt: '{{excerpt}}',
      title: '{{title}}',
      url: '{{url}}',
    };
  </script>
{{/post}}
