{{!< layouts/post}}
{{!-- The tag above means - insert everything in this file into the {body} of the layout/default.hbs template --}}

{{!-- Post Content --}}
{{#post}}
  <main
    class="content"
    id="content"
    role="main"
  >
    <article
      class="post {{#if feature_image}}has-thumbnail{{/if}}"
      id="{{id}}-{{slug}}"
    >
      <header
        class="post__header"
        {{#if feature_image}}
          style="background-image: url('{{feature_image}}');"
        {{/if}}
      >
        {{#foreach tags visibility="internal"}}
          {{#if name}}
            <div class="post__label">{{name}}</div>
          {{/if}}
        {{/foreach}}

        <h1 class="post__title">{{title}}</h1>

        {{!-- TODO, @ghost needs to add sub-title support --}}
        {{!-- <h2 class="post__sub-title">{{sub-title}}</h2> --}}
        <time
          class="post__date"
          datetime="{{date format="YYYY-MM-DD"}}"
        >
          {{date format="MMMM, DD YYYY"}}
        </time>
      </header>

      <section class="post__content">
        {{content}}
      </section>

      {{!--
      <footer class="post__footer">
        {{> author}}
        {{> social-share}}
        {{> subscribe}}
      </footer>
      --}}
    </article>
  </main>
{{/post}}
