<!DOCTYPE html>
<html>
  <head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>

    {{!-- Humans - We are human, not machines --}}
    <link href="{{@blog.url}}/humans.txt" type="text/plain" rel="author" />

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- SEO --}}
    <link href="{{@blog.url}}" hreflang="en" rel="alternate" />

    {{!-- Brand icon --}}
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}" />

    {{!-- Fonts --}}
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Serif:400,700" />

    {{!-- Stylesheets --}}
    <link rel="stylesheet" type="text/css" href="{{asset "vendors/ionicons/css/ionicons.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "vendors/normalize-css/normalize.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/lib/bookmark.css"}}" />

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
  </head>
  <body class="{{body_class}}">
    {{!-- Header --}}
    {{> header}}

    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    {{{body}}}

    {{!-- Footer --}}
    {{> footer}}

    {{!-- JavaScript --}}
    <script type="text/javascript" src="{{asset "js/jquery.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/prism.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/bookmark.js"}}"></script>

    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
  </body>
</html>
